.DS_Store

**/.venv/
**/__pycache__/

**/.env
**/.env.*
!**/.env.example

**/.dev.vars
**/.dev.vars.*
!**/.dev.vars.example

auth/wrangler.jsonc

**/node_modules/
**/.wrangler/

*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal
